// SPDX-License-Identifier: (GPL-2.0+ OR X11)
/*
 * Copyright 2018 Icenowy Zheng <icenowy@aosc.io>
 */

/dts-v1/;
#include "suniv-f1c100s.dtsi"

#include <dt-bindings/gpio/gpio.h>

/ {
    model = "Alllink Durian F1x";
    compatible = "allwinner,suniv-f1c100s","allwinner,suniv";

    aliases {
        serial0 = &uart0;
        serial1 = &uart1;
        spi0 = &spi0;
    };

    chosen {
        #address-cells = <1>;
        #size-cells = <1>;
        ranges;

        stdout-path = "serial1:115200n8";
    };

    panel: panel {
        compatible = "lg,lb070wv8", "simple-panel";
        #address-cells = <1>;
        #size-cells = <0>;
        enable-gpios = <&pio 4 6 GPIO_ACTIVE_HIGH>;

        port@0 {
            reg = <0>;
            #address-cells = <1>;
            #size-cells = <0>;

            panel_input: endpoint@0 {
                reg = <0>;
                remote-endpoint = <&tcon0_out_lcd>;
            };
        };
    };
};

&mmc0 {
    broken-cd;
    status = "okay";
};

&spi0 {
    pinctrl-names = "default";
    pinctrl-0 = <&spi0_pins_c>;
    status = "okay";
    spi-max-frequency = <50000000>;

    flash:w25q128@0 {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "winbond,w25q128", "jedec,spi-nor";
        reg = <0>;
        spi-max-frequency = <50000000>;
        partitions {
            compatible = "fixed-partitions";
            #address-cells = <1>;
            #size-cells = <1>;
            partition@0 {
                label = "u-boot";
                reg = <0x000000 0x090000>;
                read-only;
            };
            partition@100000 {
                label = "dtb";
                reg = <0x090000 0x010000>;
                read-only;
            };
            partition@110000 {
                label = "kernel";
                reg = <0x0a0000 0x400000>;
                read-only;
            };
            partition@510000 {
                label = "rootfs";
                reg = <0x4a0000 0xb60000>;
            };
        };
    };
};

&uart0 {
    pinctrl-names = "default";
    pinctrl-0 = <&uart0_pins_e>;
    status = "disable";
};

&uart1 {
    pinctrl-names = "default";
    pinctrl-0 = <&uart1_pins_a>;
    status = "okay";
};

&uart2 {
    pinctrl-names = "default";
    pinctrl-0 = <&uart2_pins_e>;
    status = "disable";
};

&otg_sram {
    status = "okay";
};

&usb_otg {
    dr_mode = "otg";
    status = "okay";
};

&usbphy {
    usb0_id_det = <&pio 4 2 GPIO_ACTIVE_HIGH>; /* PE2 */
    status = "okay";
};

&cedar_ve {
    status = "disable";
};

&ion {
    status = "disable";
};

&de {
    status = "okay";
};

&fe0 {
    status = "okay";
};

&be0 {
    status = "okay";
};

&tve0 {
    status = "okay";
};

&tcon0 {
    pinctrl-names = "default";
    pinctrl-0 = <&lcd_rgb565_pins_d>;
    status = "okay";
};

&tcon0_out {
    tcon0_out_lcd: endpoint@0 {
        reg = <0>;
        remote-endpoint = <&panel_input>;
    };
};

&codec {
    allwinner,audio-routing =
        "Headphone", "HP",
        "Headphone", "HPCOM",
        "LINEIN", "Line In",
        "FMINL", "Left FM In",
        "FMINR", "Right FM In",
        "MIC", "Mic";
    status = "okay";
};

&i2c0 {
    pinctrl-0 = <&i2c0_pins_d>;
    pinctrl-names = "default";
    status = "okay";

    ns2009: ns2009@48 {
        compatible = "nsiway,ns2009";
        reg = <0x48>;
    };

    ov2640: camera@30 {
        compatible = "ovti,ov2640";
        reg = <0x30>;
        pinctrl-0 = <&clk_out_pins_e>;
        pinctrl-names = "default";
        clocks = <&clk_out>;
        clock-names = "xvclk";
        assigned-clocks = <&clk_out>;
        assigned-clock-rates = <24000000>;

        port {
            ov2640_ep: endpoint {
                remote-endpoint = <&csi0_ep>;
            };
        };
    };

/*
    gt911: touchscreen@14 {
        compatible = "goodix,gt911";
        reg = <0x14>;
        interrupt-parent = <&pio>;
        interrupts = <4 3 IRQ_TYPE_EDGE_FALLING>; // (PE03)
        pinctrl-names = "default";
        pinctrl-0 = <&ts_reset_pin>;
        irq-gpios = <&pio 4 3 GPIO_ACTIVE_HIGH>; // (PE03)
        reset-gpios = <&pio 4 9 GPIO_ACTIVE_HIGH>; // RST (PE9)
//        touchscreen-swapped-x-y
    };
*/
};

&csi0 {
    pinctrl-names = "default";
    pinctrl-0 = <&csi0_pins_e>;
    status = "disable";
    port {
        csi0_ep: endpoint {
            remote-endpoint = <&ov2640_ep>;
        };
    };
};
